.dixieland img {
    width: 45%;
}
.leto img {
    width: 60%;
}
.noc img {
    width: 50%;
}
.obsah  p {
    margin-left: 2em;
    margin-right: 21em;
    font-size: 18px;
}
li {
    font-size: 18px;
}