table {
    width: 50em;
    padding-bottom: 1em;
    margin: 0px;
    margin-left: 3em;
}
p {
    margin-bottom: 1.5em;
    font-size: 17px;
}
.info table {
    width: 50em;
}
.info table td {
    width: 50%;
    font-size: 19px;
}

@media only screen and (max-width: 900px) {
    .obsah table {
        width: 90%;
        margin-left: 20px;
        margin-right: 6px;
    }
    .obsah div {
        margin-left: 20px;
        margin-right: 6px;
    }
    .obsah .info {
        margin-left: 20px;
        margin-right: 6px;
    }
}