.obsah {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin-left: 3em;
    margin-right: 3em;
}
body div hr {
    width: 35em;
}
section table tr {
    height: 2em;
}
td {
    font-size: 18px;
    width: 14em;
}
.spol {
    width: 85%;
    height: 20em;
    object-fit: cover;
    margin-left: 7.5%;
    margin-top: 3em;
}