.obsah {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 5em;
}
body div hr {
    width: 35em;
}
.obecne, .zadost {
    width: 45%;
}
.obsah p,.obsah ul li {
    font-size: 18px;
}
div a {
    color: black;
    font-weight: bold;
}
div a:hover {
    background-color: var(--red);
}
li {
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 1300px) {
    .obsah {
        flex-direction: column;
    }
    .obsah section {
        width: 90%;
    }
    body div hr {
        width: 100%;
    }
}