@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --red: #FF0000;
    --dark_grey: #303030;
    --grey: #EAEAEA;
}
html {
    font-family: 'Lato', sans-serif;
    background-image: url("../imgs/IMG_2114.jpg");
    background-position: center;
    background-attachment: fixed;
    background-position-y: -175px;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-left: 40px;
    font-size: 30px;
    color: var(--dark_grey);
}
body {
    position: relative;
    background-color: white;
    width: 1400px;
    min-height: 100vh;
    margin: 0px;
}
@keyframes lights {
    0% {box-shadow: 0 4px 8px 0 blue, 0 6px 20px 0 blue;}
    50% {box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 red;}
    100% {box-shadow: 0 4px 8px 0 blue, 0 6px 20px 0 blue;}
}
header {
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
}
header > div {
    background-color: var(--dark_grey);
    height: 140px;
    display: flex;
    width: 1400px;
}
header > div > #nazev {
    width: 240px;
    height: 140px;
    display: flex;
    align-items: center;
}
header > div > #nazev > img {
    position: relative;
    left: 20px;
    width: 80px;
    height: 88px;
}
header > div > #nazev > p {
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 100px;
    margin-left: -2.3em;
    left: 120px;
}
header > div > #odkazy > a {
    width: 45px;
    height: 45px;
    margin-left: 65em;
}
header > div > #odkazy > a:hover {
    box-shadow: 0 4px 8px 0 blue, 0 6px 20px 0 blue;
    animation-name: lights;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
header > div > #odkazy {
    position: relative;
    right: 0px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
header > div > #odkazy > a > img {
    width: 100%;
}
.navbar {
    height: 60px;
    background-color: var(--red);
    display: flex;
    
}
.navbar > a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.5%;
    transition: 0.5s;
}
.navbar > a:hover {
    color: var(--red);
    background-color: white;
}
.navbar > .domu {
    width: 7%;
    color: white;
}
.navbar > .domu > img {
    height: 50%;
}
h2 {
    font-size: 21px;
}
body > hr {
    width: 85em;
    background-color: var(--red);
    height: 1px;
    border: none;
    margin-bottom: 2em;
}
div hr {
    width: 82em;
    background-color: var(--dark_grey);
    margin-left: -1em;
    height: 1px;
    border: none;
}
.obsah > div {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
}