section {
    margin-left: 3em;
    margin-bottom: 5em;
    margin-right: 3em;
}
.obsah p {
    margin-bottom: 2em;
}
ul {
    margin-bottom: 2em;
}
table td {
    width: 19em;
    padding-bottom: 1em;
}
.legend {
    clip-path: polygon(50% 0, 100% 4%, 100% 100%, 0 100%, 0 4%);
    background-color: var(--grey);
    margin: 0px;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}
.legend ul {
    list-style-type: none;
}
.legend li {
    max-width: 20em;
    margin: auto; 
}
.listandpics {
    display: flex;
    justify-content: space-between;
}
.listandpics > .imgs {
    width: 50%;
}
.listandpics > .list {
    width: 50%;
}
.imgs > a > img {
    width: 42%;
    margin: 1em;
}
.seznamy {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.seznamy div {
    width: 20em;
}
#one {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 960px) {
    .listandpics {
        flex-direction: column;
    }
    .listandpics .list, .listandpics .imgs {
        width: auto;
    }
}

@media only screen and (max-width: 521px) {
    section {
        margin: 8px;
    }
    .listandpics {
        width: 98%;
    }
    .listandpics .imgs img {
        width: 135px;
        margin: 5px;
    }
}